!!! XML
!!!
%html
  %head
    %title== Dandee Lions : #{@design.title} - #{@design.name}
    = stylesheets
  %body
    = partial('header')
    = partial('navigation')
    #content
      .container_12.clearfix
        = yield
    = partial('footer')
